.container {
  width: 100%;

  padding: 20px;
  margin-bottom: 1px;
  border: 1px solid black;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
  justify-content: space-between;
}

.container_primary {
  width: 80%;
}

.Teste2 {
  display: none;
}

.container_secondary {
  margin-left: 20px;

  display: flex;
  align-items: center;
}

.container_primary,
.menu_open {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container_primary,
.menu_open > div > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 800px;
  min-width: fit-content;
  height: 40px;
  margin-left: 20px;
  padding: 0px 5px 0px 10px;

  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 5px;
}

.input > input {
  width: 100%;

  margin-right: 10px;

  font-size: 1rem;
  color: rgb(0, 0, 0, 0.6);
}

.menu_open {
  min-width: fit-content;
}

.menu_open > div > button > h2 {
  font-size: 0.9rem;
}

.menu_closed {
  display: none;
}

@media (max-width: 1030px) {
  .container_secondary > div > button > h2 {
    display: none;
  }

  .Teste1 {
    display: none;
  }
  .Teste2 {
    display: block;
  }
}

@media (max-width: 800px) {
  .menu_open {
    display: none;
  }
  .menu_closed {
    display: block;
  }
}
