.container {
  text-align: center;

  padding-bottom: 50px;

  margin-top: 19px;
}

.container > h1 {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 1.5rem;
}

.list {
  /* border: 1px solid black; */

  /* padding: 0px 100px; */

  display: flex;
  justify-content: center;
}

.list > ul {
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
}

.card {
  position: relative;
}

.wishlist {
  padding: 1px;

  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsla(0, 0%, 100%, 0.7);
  border-radius: 5px;
}

.product {
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.productImage {
  background-color: #f6f7f0;
}

.productImage > img {
  /* border: 1px solid green; */
  mix-blend-mode: darken;

  width: 400px;
  height: 500px;

  object-fit: scale-down;
  object-position: center;

  transition: transform 0.2s;
}
.productImage > img:hover {
  transform: scale(0.9);
}

.product > h2 {
  margin-top: 10px;

  font-size: 1.2rem;
}

.discount {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.discount > h3 {
  margin-top: 0.3rem;

  font-weight: bold;
  font-size: 1rem;
}

.discount > span {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.card > h4 {
  color: grey;
  font-size: 0.8rem;
}

@media (max-width: 1710px) {
  .list > ul {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1280px) {
  .list > ul {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 850px) {
  .card > button {
    width: 300px;
  }
  .card > button > img {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 710px) {
  .card > button {
    width: 200px;
  }
  .card > button > img {
    width: 200px;
    height: 300px;
  }
}
