.container {
  height: 100%;
  margin-top: 100px;

  display: flex;
  justify-content: center;
}

.textBox {
  width: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.textBox > * {
  color: #212529;
  font-weight: normal;
}

.textBox > h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.textBox > h2 {
  margin-bottom: 15px;

  font-size: 1rem;
}

.textBox > h3 {
  margin-top: 15px;

  font-size: 1.3rem;
}

.textBox > p {
  font-size: 0.9rem;
}

.textBox > button {
  width: 100%;
  padding: 10px;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.textBox > button:hover {
  transition: 0.15s;
  background-color: black;
  color: #fff;
}
